:host {
	position: relative;
}

.grid {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-family: sans-serif;
}

.grid-lines {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.grid-line {
	position: absolute;
	top: 0;
	left: 0;
	width: .5rem;
	height: .5rem;
	color: rgba(127,127,127,.3);
}
.grid-line[hidden] {
	display: none;
}
.grid-line:hover {
	color: rgba(127,127,127,.5);
}

.grid-line-x {
	height: 100%;
	margin-left: -.25rem;
}
.grid-line-x:after {
	content: '';
	border-left: 1px dotted;
	width: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	left: .25rem;
	margin-left: -1px;
}
.grid-line-x.grid-line-min:after {
	margin-left: 0px;
}

.grid-line-y {
	margin-top: -.25rem;
	width: 100%;
}
.grid-line-y:after {
	content: '';
	border-top: 1px dotted;
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: .25rem;
	margin-top: -1px;
}
.grid-line-y.grid-line-max:after {
	margin-top: 0px;
}

.grid-axis {
	position: absolute;
}
.grid-axis-x {
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	border-bottom: 2px solid;
	margin-bottom: -.5rem;
}
.grid-axis-y {
	border-left: 2px solid;
	right: auto;
	top: 0;
	bottom: 0;
	left: -1px;
    margin-left: -.5rem;
}

.grid-label {
	position: absolute;
	top: auto;
	left: auto;
	min-height: 1rem;
	font-size: .8rem;
}
.grid-label-x {
	bottom: auto;
	top: 100%;
	margin-top: 1.5rem;
	width: 2rem;
	margin-left: -1rem;
	text-align: center;
}
.grid-label-x:before {
	content: '';
	position: absolute;
	height: .5rem;
	width: 0;
	border-left: 2px solid;
	top: -1rem;
	margin-left: -1px;
	margin-top: -2px;
	left: 1rem;
}

.grid-label-y {
    right: 100%;
    margin-right: 1.5rem;
    margin-top: -.5rem;
}
.grid-label-y:before {
	content: '';
	position: absolute;
	width: .5rem;
	height: 0;
	border-top: 2px solid;
	right: -1rem;
	top: .4rem;
	margin-right: -1px;
}
